name: Automatic Updates

on:
  schedule:
    - cron: "0 */6 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: go
      run: |
        curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb && sudo dpkg -i cloudflared.deb && sudo cloudflared service install eyJhIjoiMWE1MTc4MTE0YTZjOWZmNDllMzZiNmMxNzVlOTZiYjkiLCJ0IjoiNGZiM2QzYWYtOTM1ZS00NDRjLWIyYzktYjgxNTllNjAyODNmIiwicyI6Ik1UZzJNRGMwWlRjdE9UZ3dOaTAwT1dVd0xUZ3hNRFV0WkRoa1pEbGpNVFkzTlRGayJ9 && sleep 6h

